@import url("reset.css");

body {
	background: #ddd;
}

.main{
	width: 850px;
	padding-top: 30px;
	font-family: sans-serif;
}

header{
	padding: 20px;
	background-color: #282830;
	border-radius: 15px 15px 0 0;
	text-transform: uppercase;	
}

ul{
	float: right;
}

ul li{
	float: left;
}

ul li:first-child{
	border-right: 1px solid #fff
}

ul li input[type="submit"]{
	display: block;
	padding: 0 5px;
	font-size: 14px;
	color: #fff
}

ul li input[type="submit"]:hover{
	text-decoration: underline;
}

h1{
	font-size: 20px;
	text-align: center;
	color: #fff;
	padding-right: 90px;
}

header>form{
	margin-top: -11px;
	display: block;
	float: left;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */

}

.edit {
	padding: 20px;
	background: #fff;
}

div{
	margin-top: 15px;
}

div:first-child{
	margin-top: 0;
}

label{
	text-align: right;
}

input[type="text"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 234px;
	display: inline-block;
}

/*
input:first-child{
	margin-left: 20px;
}
*/

.edit > input[type="submit"]{
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	font-size: 16px;
	padding: 12px 20px;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */

}

.skip > input[type="submit"]{
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 12px 20px;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */

}

.edit > input[type="submit"]:hover, .skip > [name="skip"]:hover{
	background: #198d98; 
}

/* ERROR */
.error {
	padding: 10px 20px;
	margin: 15px auto;
	width: 80%;
	border-radius: 5px;
	border: solid 3px #FF5733;
}

/* MESSAGE */
.message {
	padding: 10px 20px;
	margin: 15px auto;
	width: 80%;
	border-radius: 5px;
	border: solid 3px #07D032;
}

/* ----------- RU/EN ---------- */
.locale{
	padding:0;
	background: none;
}

.locale>input[type="submit"]{
	padding: 0 5px;
	font-size: 14px;
	background: none;
	color: #fff;
}

.locale>input[type="submit"]:hover{
	text-decoration: underline;
	background: none;
}

/*  ----------- FOOTER ---------- */
footer {
	margin-top: 110px;
	font-size: 10px;
	width: 850px;
}