*{
	margin:0;
	padding: 0;
}

body {
	background-color: #ffffff;
	max-width: 1349px;
	margin: auto;
}
.clearfix {
	clear:both;
}

/*  CONTENT  */

.content > section {
	width: 960px;
	max-width: 960px;
	min-width: 950px;
	margin:auto;
}
.content > section h1 {
	margin: 50px 0 0 0;
	font: italic 22px Cambria;
	color: #404040;
	margin-bottom: 50px;
}

.content > section > div > p {
	z-index: auto;
	font: 18px Cambria;
	color: #404040;
	padding: 20px 0 20px;
	text-align: left;
}

#picture1, #picture5, #picture9{
	margin-left: 0;
}


/*  transfer  */
.transfer{
	padding: 10px 20px;
	width: 100%;
	border-radius: 5px;
	border: solid 3px #585863;

}

.transfer p {
	font: normal 16px Cambria;
	line-height: 35px;
}

.transfer:first-child {
	color: #585863;
}

.transfer form {
	display: inline-block;
}

.transfer form input {
	font: normal 16px Cambria;
	margin-top: 10px;
}

.transfer form input[type="submit"] {
	border:0;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px 20px;
	color: #fff;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */
}

.transfer form input[type="submit"]:hover {
	background: #198d98;
}

.transfer label, select {
	font: normal 16px Cambria;
	line-height: 35px;
}