*{
	margin:0;
	padding: 0;
}

body {
	background-color: #ffffff;
	max-width: 1349px;
	margin: auto;
}
.clearfix {
	clear:both;
}

/*  CONTENT  */
.content > section {
	width: 960px;
	max-width: 960px;
	min-width: 950px;
	margin:auto;
}
.content > section h1 {
	margin: 50px 0 0 0;
	font: italic 22px Cambria;
	color: #404040;
	margin-bottom: 50px;
}

.content > section > div:first-child > p {
	z-index: auto;
	font: 18px Cambria;
	color: #404040;
	padding: 20px 0 20px;
	text-align: left;
}


/*  JOURNAL  */
.journal{
	padding: 10px 20px;
	margin-bottom: 15px;
	width: 100%;
	border-radius: 5px;
	border: solid 3px #585863;

}

.journal p {
	font: normal 16px Cambria;
	line-height: 35px;
}

.income p:first-child {
	font: normal 16px Cambria;
	line-height: 35px;
	color: green;
}

.outcome p:first-child {
	font: normal 16px Cambria;
	line-height: 35px;
	color: red;
}